aside.component-cursor(data-component="Cursor")
    .component-cursor-wrapper
        .component-cursor-inner(data-ref="inner")
            .component-cursor-backgroundContainer
                .component-cursor-background
            .component-cursor-contentContainer
                .component-cursor-content
                    .component-cursor-arrow.is-left(data-ref="arrowLeft")
                        svg(width='23' height='21' viewbox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M12.7856 1.6936C12.7856 6.29465 4.77101 10.8349 1.42633 10.8349' stroke-width='2')
                            path(d='M12.7856 19.9761C12.7856 15.375 4.77101 10.8348 1.42633 10.8348' stroke-width='2')
                            path(d='M1.77327 10.8347L22.7124 10.8347' stroke-width='2')
                    .component-cursor-arrow.is-right(data-ref="arrowRight")
                            svg(width='23' height='21' viewbox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(d='M11.0669 1.6936C11.0669 6.29465 19.0815 10.8349 22.4262 10.8349' stroke-width='2')
                                path(d='M11.0669 19.9761C11.0669 15.375 19.0815 10.8348 22.4262 10.8348' stroke-width='2')
                                path(d='M22.0793 10.8347L1.14014 10.8347' stroke-width='2')
