footer.next-project(data-component="NextWork" class=`is-${getColorName(nextWork.color)}`)
    .next-project__wrapper
        a.next-project__link(href='/project/' + nextWork.slug)
            .next-project__figure
                +svg-reveal(1.8, true)
                    svg(data-ref="svg" width='149' height='130' viewbox='0 0 149 130' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(stroke="black" d='M147.54 15.5999C135.12 28.3778 113.218 53.8122 102.076 76.1043C88.7176 102.829 85.0692 112.538 85.0884 121.724C85.1048 129.567 90.325 132.889 98.5608 120.587C107.822 106.752 121.699 77.6011 127.733 55.939C133.768 34.2769 137.755 10.4611 132.356 3.00069C126.957 -4.45972 105.623 13.1504 98.796 21.7502C91.9687 30.3501 68.2036 72.7473 59.709 94.0433C51.2145 115.339 51.1155 123.461 55.8532 125.423C60.5909 127.386 65.746 118.093 68.9585 111.914C72.1709 105.735 103.786 44.387 94.4804 21.9217C85.1749 -0.543608 64.6256 26.2073 61.3654 31.7135C58.1051 37.2197 46.5927 57.9187 44.8578 71.5663C43.1228 85.214 47.4944 89.6369 53.8039 77.5575C60.1134 65.4781 63.5635 39.8072 51.9261 34.0073C40.2887 28.2074 27.4635 64.6879 27.6828 69.6763C27.9021 74.6648 32.4287 75.5602 34.8529 69.7077C37.2771 63.8552 32.1684 50.9644 20.4634 46.116C11.0994 42.2373 4.23333 44.8351 1.97079 46.6188' stroke-width='2' stroke-linecap='round')
            span.next-project__text(data-anim-title)="next"
            span.next-project__text.is-italic(data-anim-title data-anim-delay="0.8")="project"
