#preloader.component-preloader(data-component="Preloader" data-option-name='cassandre')
    .component-preloader-wrapper(data-ref='wrapper')
        .component-preloader-logo(data-ref='logo')
            svg.component-preloader-logoSvg(data-ref='logoSvg' width='92' height='71' viewbox='0 0 92 71' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M51.1062 2C43.2925 4.43405 38.1559 11.7526 43.2925 17.0311C54.2629 28.3047 84.8935 22.9929 86.0196 15.7063C87.1458 8.41968 67.7764 7.09484 54.2629 17.0311C40.7494 26.9674 41.6845 37.8262 51.1062 42.9713C59.5975 47.6082 91.4457 44.9586 90.9953 35.9055C90.5448 26.8525 72.2355 29.0513 60.7822 33.504C52.567 36.6978 42.9567 43.2668 30.5693 46.1373C18.1819 49.0078 1.00001 46.1948 1 38.945C0.999991 31.6953 18.0483 31.64 29.366 35.3384C40.6836 39.0368 49.4171 43.6016 44.0938 59.0842C42.3166 63.6942 37.7058 67.9562 32.8261 69' stroke='#F5EDE2' stroke-width='2' stroke-linecap='square' stroke-dasharray='472.3570251464844 472.3570251464844' stroke-dashoffset='472.3570251464844')
        .component-preloader-name.is-hidden(data-ref='name')
            span.ui-h8.component-preloader-nameWord(data-ref='nameWord')
            span.component-preloader-nameCarret
            .component-preloader-nameFigure
                svg(data-ref='nameFigure' width='147' height='58' viewbox='0 0 147 58' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M0.293945 56.2966C3.89855 55.3689 13.2915 51.6192 22.0264 44.042C32.945 34.5704 36.6246 26.5843 37.2143 21.4731C37.8041 16.3618 32.4228 15.417 28.2018 19.9803C23.9807 24.5436 20.1673 31.1059 22.0264 39.7557C23.8855 48.4055 28.8652 49.3845 39.5793 46.7132C50.2934 44.042 75.0378 25.7953 75.548 13.0404C76.0582 0.285525 62.283 11.7504 58.4565 16.6117C54.6301 21.4731 44.1711 37.1299 49.5281 46.7132C54.8852 56.2966 78.099 43.0021 81.9255 39.7557C85.7519 36.5093 100.803 21.4585 103.099 9.46896C105.394 -2.52061 99.2721 1.30585 94.6803 6.1527C90.0886 10.9995 80.1398 25.9155 80.1398 34.9788C80.1398 44.042 90.0886 47.8489 103.099 39.7557C116.109 31.6625 117.129 26.3054 117.639 23.2443C118.149 20.1831 116.874 17.1219 112.537 20.1831C108.201 23.2443 99.5272 35.4695 110.241 39.7557C120.955 44.042 128.098 35.2338 128.098 32.1727C128.098 29.1115 124.017 30.2018 123.761 34.9788C123.506 39.7557 133.965 46.2175 146.72 44.042' stroke='#FF6C3C' stroke-width='2')
        .component-preloader-splitName.is-hidden(data-ref='splitName')
            .component-preloader-splitNameFigure
                svg(width='100' height='76' viewbox='0 0 100 76' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M55.513 1.65723C47.0121 4.31906 41.4238 12.3225 47.0121 18.095C58.9474 30.4236 92.2719 24.6147 93.4971 16.6462C94.7222 8.67768 73.6494 7.22886 58.9474 18.095C44.2453 28.9611 45.2626 40.8362 55.513 46.4627C64.7511 51.5336 99.4004 48.636 98.9103 38.7357C98.4203 28.8355 78.5006 31.2401 66.04 36.1095C57.1023 39.6022 46.6468 46.7859 33.1699 49.925C19.6931 53.0641 1.00001 49.9879 1 42.0597C0.99999 34.1315 19.5477 34.071 31.8607 38.1155C44.1737 42.1601 53.6753 47.152 47.8838 64.0835C45.9504 69.1249 40.9341 73.7858 35.6252 74.9273' stroke='#F5EDE2' stroke-width='1.66523' stroke-linecap='round')
            span.ui-h7.component-preloader-splitNameLine cass
            span.ui-h7.component-preloader-splitNameLine andre
    canvas.component-preloader-overlay.is-hidden(data-ref='overlay')
