aside#preloader.component-preloader.is-hidden(data-component="Preloader" data-option-name='cassandre')
    .component-preloader-wrapper(data-ref='wrapper')
        .component-preloader-logo
            +image('images/loader-01.png', 252, 252, 'Cassandre Levrard logo frame')(class='component-preloader-logoFrame' data-ref='logoFrames[]')
            +image('images/loader-02.png', 252, 252, 'Cassandre Levrard logo frame')(class='component-preloader-logoFrame' data-ref='logoFrames[]')
            +image('images/loader-03.png', 252, 252, 'Cassandre Levrard logo frame')(class='component-preloader-logoFrame' data-ref='logoFrames[]')
            +image('images/loader-04.png', 252, 252, 'Cassandre Levrard logo frame')(class='component-preloader-logoFrame' data-ref='logoFrames[]')
        .component-preloader-name(data-ref='name')
            span.ui-h8.component-preloader-nameWord(data-ref='nameWord')
            span.component-preloader-nameCarret
        .component-preloader-scribble
            svg(width='147' height='58' viewbox='0 0 147 58' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(data-ref='scribblePath' d='M0.293945 56.2966C3.89855 55.3689 13.2915 51.6192 22.0264 44.042C32.945 34.5704 36.6246 26.5843 37.2143 21.4731C37.8041 16.3618 32.4228 15.417 28.2018 19.9803C23.9807 24.5436 20.1673 31.1059 22.0264 39.7557C23.8855 48.4055 28.8652 49.3845 39.5793 46.7132C50.2934 44.042 75.0378 25.7953 75.548 13.0404C76.0582 0.285525 62.283 11.7504 58.4565 16.6117C54.6301 21.4731 44.1711 37.1299 49.5281 46.7132C54.8852 56.2966 78.099 43.0021 81.9255 39.7557C85.7519 36.5093 100.803 21.4585 103.099 9.46896C105.394 -2.52061 99.2721 1.30585 94.6803 6.1527C90.0886 10.9995 80.1398 25.9155 80.1398 34.9788C80.1398 44.042 90.0886 47.8489 103.099 39.7557C116.109 31.6625 117.129 26.3054 117.639 23.2443C118.149 20.1831 116.874 17.1219 112.537 20.1831C108.201 23.2443 99.5272 35.4695 110.241 39.7557C120.955 44.042 128.098 35.2338 128.098 32.1727C128.098 29.1115 124.017 30.2018 123.761 34.9788C123.506 39.7557 133.965 46.2175 146.72 44.042' stroke='#FF6C3C' stroke-width='2')
    canvas.component-preloader-overlay(data-ref='overlay')
