block variables

include mixins/scribble-link
include mixins/svg-reveal
include mixins/circled-button
include mixins/parallax
include mixins/work-card

doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="msapplication-tap-highlight" content="no")

        base(href="/")

        title cassandre

        link(rel="icon" type="image/x-icon" href="images/favicon.ico")

        link(rel="stylesheet" href="https://use.typekit.net/pey0bud.css")
        link(href="/main.css" rel="stylesheet")

        meta(name="description" content="Cassandre Levrard digital designer portfolio")
        // TODO: metas data for favicon (see favicon generator) + facebook and twitter metas

    body

        #app.app(data-component="App")
            include components/navigation
            #page-container(data-ref="pageContainer")
                #page(class='page page-' + pageName + ' is-' + pageShade data-component=pageComponent)
                    block page
            include components/cursor
            include components/preloader

        script(src="/main.js")
