.page-about {
  position: relative;
  overflow: hidden;

  @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
    display: flex;
    flex-direction: column;
  }

  &-content {
    padding-top: 8rem;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }

  &-title {
    max-width: 1360px;
    position: relative;
    font-family: $vtc-carrie;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    font-size: clamp(3.5rem, vw(8.8), 8.75rem);
    line-height: clamp(3.5rem, vw(7.3), 8.75rem);
    margin: 0 auto;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      max-width: 100%;
      font-size: clamp(2.125rem, vw(12), 3.125rem);
      line-height: clamp(2.125rem, vw(10), 3.125rem);
    }
  }

  &-scribble {
    width: fit-content;
    height: fit-content;
    display: inline-block;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 2.375rem;
      height: 2.375rem;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &-loop {
    display: inline-flex !important;
    position: relative;
    color: $white;
    overflow: hidden;
    min-width: clamp(7rem, vw(17), 18.75rem);

    &-word {
      width: fit-content;
      height: fit-content;
      margin: auto;
      position: relative;
      display: flex !important;
      justify-content: center;
    }

    &-inner {
      font-size: clamp(1rem, vw(4), 2rem);
      line-height: clamp(1rem, vw(4), 2rem);
      font-family: $rebond-regular;
      text-transform: lowercase;
      letter-spacing: -2px;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        letter-spacing: -0.625px;
      }
    }

    &-carret {
      position: absolute;
      top: 0;
      right: -4px;
      width: 2px;
      height: 100%;
      background-color: $new-beige;
      animation: flash 0.75s infinite reverse;

      &--is-off {
        display: none;
      }

      &--is-on {
        display: block;
      }
    }

    &-parenthesis {
      font-family: $rebond-regular;
    }
  }

  &-scribble .component-svgReveal {
    position: absolute;
    top: 0;
    left: 0;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      width: 120px;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: vw(2.2);
    margin-bottom: vw(8);

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      flex-direction: column;
      align-items: center;
      padding-right: 0;
      margin-top: 2rem;
      margin-bottom: 7.25rem;
    }

    &-image {
      width: clamp(27.25rem, vw(15.2), vw(22.22));

      @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        width: clamp(20.25rem, vw(29), vw(33));
      }

      &-inner {
        transform: rotate(-1.25deg);
        position: relative;

        &-scotch {
          position: absolute;
          top: -57px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: vw(14);
          height: auto;
          z-index: 1;

          @media screen and #{inspect(map-get($breakpoints, 'small'))} {
            width: vw(38);
            top: -10%;
          }
        }

        img {
          width: 100%;
          height: auto;
        }
      }

      &-text {
        font-family: $rebond-regular;
        color: #1c1b1a4d;
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-top: 0.75rem;

        @media screen and #{inspect(map-get($breakpoints, 'small'))} {
          display: none;
        }
      }
    }

    &-text {
      font-family: $rebond-regular;
      padding-top: vw(3);
      width: clamp(34.563rem, vw(29), vw(33));
      padding-right: vw(14);

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        width: 100%;
        padding-top: 2.5rem;
      }

      &-skills {
        display: flex;
        flex-direction: row;
        gap: 0.375rem;
        font-size: 1rem;

        @media screen and #{inspect(map-get($breakpoints, 'small'))} {
          font-size: 0.875rem;
        }
      }

      &-activities {
        font-size: 1.25rem;
        line-height: 1.2;
        width: clamp(19.75rem, vw(11.1), vw(15.5));
        margin-top: 1rem;

        @media screen and #{inspect(map-get($breakpoints, 'small'))} {
          font-size: 1.125rem;
        }
      }

      &-carreer {
        margin-top: vw(5);
        font-size: calc(clamp(5.5em, vw(7), 8em) * 0.159);

        @media screen and #{inspect(map-get($breakpoints, 'small'))} {
          margin-top: 3.5rem;
        }

        &-title {
          font-size: 1rem;
          margin-bottom: 1rem;

          @media screen and #{inspect(map-get($breakpoints, 'small'))} {
            font-size: 0.875rem;
          }
        }

        &-list {
          min-width: vw(20);

          &-item {
            display: flex;
            cursor: pointer;
            color: $black;
            transition: color 1s $middle-ease-out;
            font-size: 1.25rem;

            @media screen and #{inspect(map-get($breakpoints, 'small'))} {
              font-size: 1.125rem;
            }

            &:not(:last-child) {
              margin-bottom: 0.625rem;

              @media screen and #{inspect(map-get($breakpoints, 'small'))} {
                margin-bottom: 0.375rem;
              }
            }

            a {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              width: 100%;
            }

            .line {
              display: inline-flex !important;

              .word {
                &:not(:first-child) {
                  margin-left: 0.35rem;
                }
              }
            }

            &-arrow {
              color: $black;
              transform: rotate(-45deg);
              transition: all 0.8s $middle-ease-out;
            }

            &-name {
              margin-left: 1rem;
            }

            &-date {
              margin-left: auto;

              .word:nth-child(2) {
                margin-left: 2rem !important;

                @media screen and #{inspect(map-get($breakpoints, 'small'))} {
                  margin-left: 1.5rem !important;
                }
              }

              .word:nth-child(3) {
                margin-left: 0.5rem !important;
              }
            }

            @include hover() {
              color: $orange;

              .page-about-wrapper-text-carreer-list-item-arrow {
                color: $orange;
                transform: rotate(0);
              }
            }
          }
        }
      }
    }
  }

  &-client {
    margin-left: auto;
    width: clamp(34.563rem, vw(29), vw(33));
    font-family: $rebond-regular;
    margin-bottom: 4rem;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      font-size: 3rem;
    }

    &-surtitle {
      font-size: 1rem;
      line-height: 1.2;
      margin-bottom: 1rem;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        font-size: 0.875rem;
      }
    }

    &-list {
      font-size: 1.25rem;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        font-size: 1.125rem;
        line-height: 1.5rem;
      }
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 100%;
    }
  }

  &-push {
    width: 100%;
    position: relative;
    color: $white;
    overflow: hidden;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      height: 17.875rem;
      margin-top: 3rem;
    }

    &-content {
      position: absolute;
      top: 55%;
      width: 100%;
      padding: 0 2.5rem;
      display: flex;
      justify-content: space-between;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        flex-direction: column;
        top: 50%;
        padding: 0 var(--container-padding);
      }
    }

    &-title {
      width: fit-content;
      line-height: 1.2;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        font-size: 1.25rem;
      }
    }

    .component-circledButton {
      min-height: auto;
      margin-right: vw(6);

      &-arrow {
        path {
          fill: $white;
          stroke: $white;
        }
      }

      &-text {
        color: $white;
      }

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        margin: 1.5rem 0 0 0;
        justify-content: flex-start;
      }
    }
  }
}
