.page-home {
  background: linear-gradient($white, $new-dark-beige);

  .section-titleParagraph {
    &-wrapper {
      width: 66%;
    }

    &-title {
      display: none;
    }
  }

  &-works {
    overflow: hidden;
    display: flex;
    gap: 1.25rem;
    flex-wrap: nowrap;

    .component-workCard {
      width: auto;
      flex-grow: 1;

      .component-workCard-cover {
        padding-bottom: 110% !important;
      }
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      flex-direction: column;
    }
  }

  &-projectsButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 10.125rem;
    padding-top: calc(var(--section-padding) * 0.2);
    padding-bottom: calc(var(--section-padding) * 0.2);

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      padding-top: calc(var(--section-padding) * 0.6);
      padding-bottom: calc(var(--section-padding) * 0.6);
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      padding-right: var(--container-padding);
    }
  }
}
