.page-home {
    background-color: $black;

    &-projectsButton {
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;

        @include respond-to('large') {
            margin-top: 0;
            margin-bottom: 140px;
        }
    }
}
