.page-project {
  .component-circledButton {
    display: flex;
    width: fit-content;
    margin-left: auto;

    padding-right: calc(var(--container-padding) * 0.35);

    @media screen and #{inspect(map-get($breakpoints, 'large'))} {
      padding-right: var(--container-padding);
    }
  }

  .section-projectHeader + .section-bigSmallImages {
    margin-top: 7.25rem;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      margin-top: 5rem;
    }
  }

  .component-circledButton + .section-bigSmallImages {
    margin-top: 5rem;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      margin-top: 2.25rem;
    }
  }

  &-sliderSection {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: calc(var(--section-padding) * 0.7);
    padding-bottom: calc(var(--section-padding) * 0.7);

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      padding-top: calc(var(--section-padding) * 0.15);
      padding-bottom: calc(var(--section-padding) * 0.15);
    }

    &-figure {
      position: absolute;
      left: -35%;
      width: 100%;
      height: auto;
      z-index: -1;

      @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        width: 110%;
        top: -60%;
      }
    }
  }
}
