.page-projects {
    background-color: $beige;

    &-header {
        @extend .ui-container;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: calc(var(--section-padding) * 1.21);
        padding-bottom: calc(var(--section-padding) * .75);

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            padding-top: calc(var(--section-padding) * 1.84);
            padding-bottom: calc(var(--section-padding) * .75);
        }
    }

    &-title {
        letter-spacing: -3px
    }

    &-paragraph {
        max-width: 540px;
        margin-top: 32px;
    }

    &-grid {
        @extend .ui-container;

        &Row {
            display: flex;
            flex-wrap: wrap;
            gap: 3.3%;
            padding-bottom: calc(var(--section-padding) * .82);

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                gap: calc(var(--section-padding) * 0.5);
                padding-bottom: calc(var(--section-padding) * 0.5);
            }

            &:nth-of-type(3n+1) {
                justify-content: flex-end;
            }

            &:nth-of-type(3n+2) {
                justify-content: flex-start;
            }

            &:nth-of-type(3n+3) {
                justify-content: space-between;
            }
        }
    }

    .component-footer {

        &-overlayRound {
            background-color: $beige;
        }

        &-wrapper {
            @extend .ui-container;
        }
    }
}
