.page-projects {
  &-header {
    @extend .ui-container;
    display: flex;
    justify-content: flex-start;

    padding-top: calc(var(--section-padding) * 1.21);
    padding-bottom: calc(var(--section-padding) * 0.75);

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      padding-top: calc(var(--section-padding) * 1.84);
      padding-bottom: calc(var(--section-padding) * 0.75);
    }
  }

  &-title {
    font-size: clamp(15rem, vw(11), vw(11));
    color: $new-dark-beige;
    font-family: $vtc-carrie;
    text-transform: uppercase;

    .char:not(:first-child) {
      margin-left: -0.5rem;
    }
  }

  &-amount {
    font-family: $rebond-extralight;
    letter-spacing: 0.05rem;
    padding-top: 1.5rem;
  }

  &-figure {
    height: fit-content;
    margin-left: auto;
    margin-top: auto;
    padding-bottom: 1.5rem;
    padding-right: 5rem;
  }

  &-grid {
    &Row {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 0.5%;
      padding-bottom: calc(var(--section-padding) * 0.72);

      @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        gap: calc(var(--section-padding) * 0.5);
        padding-bottom: calc(var(--section-padding) * 0.5);
      }

      &:nth-of-type(3n + 1) {
        justify-content: flex-end;
      }

      &:nth-of-type(3n + 2) {
        justify-content: flex-start;
      }

      &:nth-of-type(3n + 3) {
        justify-content: space-between;
      }
    }
  }
}
