.page-ui {

    &-section {
        padding: 64px 0;

        &Title {
            @extend .ui-h9;

            margin-bottom: 32px;
        }
    }

    &-colors {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px 4%;

        &Item {
            padding-bottom: 100%;

            &.is-black {
                background-color: $black;
            }

            &.is-dark-black {
                background-color: $black-dark;
            }

            &.is-grey {
                background-color: $grey;
            }

            &.is-white {
                background-color: $white;
            }

            &.is-brown {
                background-color: $brown-light;
            }

            &.is-beige-light {
                background-color: $beige-light;
            }

            &.is-blue-light {
                background-color: $blue-light;
            }

            &.is-blue {
                background-color: $blue;
            }

            &.is-green {
                background-color: $green;
            }

            &.is-pink {
                background-color: $pink;
            }

            &.is-orange {
                background-color: $orange;
            }
        }
    }

    &-cursor {
        display: flex;
        justify-content: space-between;

        &Link {
            width: 100px;
            height: 30px;
            background-color: $brown-light;
        }

        &Slider {
            width: 100px;
            height: 30px;
            background-color: $blue-light;
        }
    }

    &-textLinks {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        gap: 8px;
    }

    &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
    }
}
