mixin home-header(baseline)
    header.section-homeHeader(data-component='HomeHeader')
        .section-homeHeader-canvas(data-ref='canvas')
        .ui-container.section-homeHeader-container
            .section-homeHeader-content(data-ref='content')
                .section-homeHeader-title
                    span.ui-h1.section-homeHeader-titleChar C
                    span.ui-h1.section-homeHeader-titleChar A
                    .section-homeHeader-titleShape
                        svg(width='110' height='163' viewbox='0 0 110 163' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M83.8556 58.9113C111.016 37.8113 96.7656 3.91132 78.3956 3.91132C60.0256 3.91132 44.5256 27.3213 61.0256 54.6513C78.3956 83.4513 93.9456 105.731 77.7156 135.651C62.5456 163.611 17.6756 168.511 6.59563 135.831C-0.924366 113.661 9.65564 89.4213 40.5056 77.6113C58.2213 70.8589 85.3342 72.5382 104.386 84.3933' stroke='#DACAB5' stroke-width='7.5' stroke-linecap='square')
                    .section-homeHeader-titleShape
                        svg(width='110' height='163' viewbox='0 0 110 163' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M83.8556 58.9113C111.016 37.8113 96.7656 3.91132 78.3956 3.91132C60.0256 3.91132 44.5256 27.3213 61.0256 54.6513C78.3956 83.4513 93.9456 105.731 77.7156 135.651C62.5456 163.611 17.6756 168.511 6.59563 135.831C-0.924366 113.661 9.65564 89.4213 40.5056 77.6113C58.2213 70.8589 85.3342 72.5382 104.386 84.3933' stroke='#DACAB5' stroke-width='7.5' stroke-linecap='square')
                    span.ui-h1.section-homeHeader-titleChar A
                    span.ui-h1.section-homeHeader-titleChar N
                    span.ui-h1.section-homeHeader-titleChar D
                    span.ui-h1.section-homeHeader-titleChar R
                    span.ui-h1.section-homeHeader-titleChar E
                p.section-homeHeader-baseline!= baseline
