mixin home-header(baseline, bubbleImages)
    header.section-homeHeader(data-component='HomeHeader' data-option-bubble-images=getBubbleImages(bubbleImages))
        .ui-container-large.section-homeHeader-container
            p.section-homeHeader-baseline(data-component='Paragraph' data-option-no-auto data-option-delay='0.5' data-option-stagger-lines)!=baseline
            .section-homeHeader-content(data-ref='content')
                .section-homeHeader-title
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') C
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') A
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') S
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') S
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') A
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') N
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') D
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') R
                    span.ui-h1.section-homeHeader-titleChar
                        span.letter(data-ref='titleChunks[]') E
        .section-homeHeader-canvas(data-ref='canvas')
        .section-homeHeader-gradient
