mixin next-project(titleFirstPart, titleSecondPart, nextWork)
    section.section-nextProject(data-component='NextProject' class=`is-${getColorName(nextWork.fields.color)}`)
        .section-nextProject-container(data-ref='container')
            a.section-nextProject-content(href=getLinkUrl(nextWork) data-ref='content' data-from='project' data-to='project')
                .section-nextProject-scribble
                    +svg-reveal(1.8, true)
                        svg(data-ref='svg' width='149' height='130' viewbox='0 0 149 130' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M147.541 15.8563C135.121 28.6341 113.219 54.0685 102.076 76.3606C88.7181 103.085 85.0697 112.794 85.0889 121.98C85.1053 129.823 90.3255 133.145 98.5612 120.843C107.822 107.009 121.7 77.8574 127.734 56.1953C133.768 34.5333 137.756 10.7174 132.357 3.25704C126.958 -4.20337 105.624 13.4068 98.7965 22.0066C91.9692 30.6064 68.2041 73.0037 59.7095 94.2996C51.215 115.596 51.1159 123.717 55.8537 125.68C60.5914 127.642 65.7465 118.35 68.959 112.171C72.1714 105.992 103.786 44.6434 94.4809 22.1781C85.1754 -0.287261 64.6261 26.4637 61.3658 31.9699C58.1056 37.4761 46.5932 58.175 44.8583 71.8227C43.1233 85.4703 47.4949 89.8932 53.8044 77.8138C60.1139 65.7345 63.564 40.0635 51.9266 34.2636C40.2892 28.4637 27.464 64.9442 27.6833 69.9327C27.9025 74.9211 32.4292 75.8166 34.8534 69.9641C37.2776 64.1116 32.1689 51.2208 20.4639 46.3724C11.0999 42.4937 4.23381 45.0914 1.97128 46.8752' stroke='#ff6c3c' stroke-width='2' stroke-linecap='square')
                h3.ui-h6.section-nextProject-title
                    span.section-nextProject-titleWord(data-ref='titleParts[]')!=titleFirstPart
                    span.section-nextProject-titleWord(data-ref='titleParts[]')!=titleSecondPart
