mixin project-big-main-title(title)
    section.ui-container-large.section-bigMainTitle
        p(data-component='Paragraph' data-option-delay='0.4' data-option-opacity data-option-stagger-lines).ui-p-l.section-bigMainTitle-text!=getWysiwyg(title)