mixin slider(images)
    section.section-slider(data-component='Slider' data-option-infinite='true' data-option-speed='0.08' data-option-lerp='0.04')
        .section-slider-container
            .section-slider-sliderContainer(data-ref='cursorSlider[]')
                .section-slider-sliderWrapper(data-ref='wrapper')
                    each image in images
                        figure.section-slider-slide(data-ref='slides[]')
                            img.section-slider-slideImage(data-ref='images[]' data-src=image.fields.file.url width=image.fields.file.details.image.width height=image.fields.file.details.image.height alt=image.fields.file.description)

