mixin title-paragraph(title, paragraph)
    section.section-titleParagraph
        .section-titleParagraph-wrapper
            h3.ui-p-m.section-titleParagraph-title!=title
            p.section-titleParagraph-paragraph!=paragraph