mixin vertical-text-image(title, image)
    section.section-verticalTextImage
        .ui-container.section-verticalTextImage-container
            header.section-verticalTextImage-header
                h2.ui-h3.section-verticalTextImage-title(data-component='Title' data-option-auto='true')!=title
            .section-verticalTextImage-image(data-component='Image')
                +parallax(image.file.url, image.file.details.image.width, image.file.details.image.height, image.description, 12, false)
