mixin vertical-text-image(text, image)
    section.section-verticalTextImage
        .ui-container.section-verticalTextImage-container
            header.section-verticalTextImage-header
                .section-verticalTextImage-scribble
                    +svg-reveal
                        svg(data-ref="svg" width='94' height='108' viewbox='0 0 94 108' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M1.5708 100.19C2.97534 96.7139 4.91449 91.9908 6.90674 85.8563M6.90674 85.8563C10.8369 73.7545 14.9737 56.1595 15.6203 31.8113C15.8203 24.2819 15.5358 8.89719 10.3789 8.89719C5.22203 8.89719 1.19459 30.1552 2.28119 49.5912C3.12202 64.6311 4.9878 76.6853 6.90674 85.8563ZM6.90674 85.8563C7.46764 88.5369 8.03309 90.9712 8.5788 93.1617C9.98042 98.7879 12.9678 105.576 17.4891 105.576C23.8843 105.576 29.1875 94.0034 32.9413 80.2324M32.9413 80.2324C36.2394 68.1332 38.3414 54.337 38.9372 45.2019C40.211 25.6695 38.5126 8.68487 35.1157 3.80179C31.7187 -1.08128 28.9925 5.01667 28.5341 8.89719C27.9236 14.0662 25.2418 49.9641 28.5341 66.6449C29.7959 73.0378 31.3067 77.3371 32.9413 80.2324ZM32.9413 80.2324C35.5718 84.8918 38.5228 85.9153 41.2726 86.1772C45.731 86.6018 52.9495 81.2941 55.2849 68.9803C55.8626 65.9342 56.2844 62.6543 56.5599 59.3334M56.5599 59.3334C57.3983 49.2293 56.8827 38.7454 55.2849 33.3126C53.1618 26.0941 48.3057 26.0203 47.4294 33.3126C46.321 42.5378 51.251 53.2695 55.2849 57.9403C55.7129 58.4359 56.1385 58.9028 56.5599 59.3334ZM56.5599 59.3334C60.1106 62.9612 63.3655 64.0133 65.2633 57.9403C66.6225 53.5909 67.0245 46.718 67.0822 41.0541M67.0822 41.0541C67.1145 37.8709 67.0382 35.0695 66.9618 33.3126C66.7495 28.4295 61.6541 29.2788 62.291 33.3126C62.5957 35.242 64.3089 38.4343 67.0822 41.0541ZM67.0822 41.0541C70.107 43.9116 74.393 46.088 79.4879 45.2019C87.3008 43.8431 90.9525 38.6911 91.8018 36.2849' stroke='#DACAB5' stroke-width='3' stroke-linecap='round')
                h2.ui-h3.section-verticalTextImage-title!=text
            .section-verticalTextImage-image
                +parallax(image.url, image.description, 12, false)
