.component-circledButton {
  position: relative;
  min-height: 152px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and #{inspect(map-get($breakpoints, 'small'))} {
    min-height: 76px;
  }

  @include hover() {
    .component-circledButton {
      //   &-text {
      //     transform: translateX(28px);
      //     transition-delay: 0.1s;
      //   }

      &-arrow {
        &:nth-of-type(1) {
          transform: translateX(74px);
          transition-delay: 0.2s;
        }

        &:nth-of-type(2) {
          transform: translateX(90px);
          transition-delay: 0s;
        }
      }
    }
  }

  &-content {
    position: relative;
    // width: 242px;
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    font-size: calc(clamp(5.5em, vw(7), 8em) * 0.159);
    align-items: center;
  }

  &-text {
    font-family: $rebond-extralight;
    color: $black;
    transition: transform 1s $middle-ease-out;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      font-size: 14px;
    }
  }

  &-whitespace {
    position: relative;
    width: 76px;
    overflow: hidden;
  }

  &-arrow {
    transition: transform 1s $middle-ease-out;

    &:nth-of-type(1) {
      position: absolute;
      right: 100%;
      transform: translateX(-16px);
    }

    &:nth-of-type(2) {
      transition-delay: 0.12s;
    }

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      width: 15px;
    }
  }

  &-parenthesis {
    position: absolute;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
