.component-circledButton {
  position: relative;
  min-height: 152px;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media screen and #{inspect(map-get($breakpoints, 'small'))} {
    min-height: 76px;
  }

  @include hover() {
    .component-circledButton {
      &-text {
        transform: translateX(-76px);
        transition-delay: 0.18s;
      }

      &-whitespace--first {
        .component-circledButton-arrow {
          transform: translateX(112px);
          transition-delay: 0s;
        }
      }

      &-whitespace--second {
        .component-circledButton-arrow {
          transform: translateX(70px);
          transition-delay: 0.32s;
        }
      }
    }
  }

  &-content {
    position: relative;
    // width: 242px;
    display: flex;
    justify-content: space-between;
    padding: 0 7px;
    font-size: calc(clamp(5.5em, vw(7), 8em) * 0.159);
    align-items: center;
  }

  &-text {
    font-family: $rebond-regular;
    color: $black;
    transition: transform 0.8s $middle-ease-out;
    transition-delay: 0.18s;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      font-size: 1.125rem;
    }
  }

  &-whitespace {
    position: relative;
    width: 76px;
    overflow: hidden;
    display: flex;
    height: 16px;

    &--first {
      .component-circledButton-arrow {
        transition-delay: 0.32s;
      }
    }

    &--second {
      position: absolute;
      right: 0;

      .component-circledButton-arrow {
        position: absolute;
        right: 100%;
        transition-delay: 0s;
        transform: translate(-10px);
      }
    }
  }

  &-arrow {
    transition: transform 0.8s $middle-ease-out;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      width: 15px;
    }
  }

  &-parenthesis {
    position: absolute;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}
