.component-circledButton {
    position: relative;
    min-height: 152px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include hover() {

        .component-circledButton {

            &-text {
                transform: translateX(28px);
                transition-delay: 0.1s;
            }

            &-arrow {

                &:nth-of-type(1) {
                    transform: translateX(84px);
                    transition-delay: 0.2s;
                }

                &:nth-of-type(2) {
                    transform: translateX(100px);
                    transition-delay: 0s;
                }
            }

            &-circle {
                transform: rotate(3deg) scaleX(0.97);

                &:nth-of-type(2) {
                    transform: rotate(-2deg) scaleX(0.97);
                }
            }
        }
    }

    &-content {
        position: relative;
        width: 316px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        overflow: hidden;
    }

    &-text {
        color: $brown-light;
        text-transform: uppercase;
        transition: transform 1s $middle-ease-out;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            font-size: 14px;
        }
    }

    &-arrow {
        transition: transform 1s $middle-ease-out;

        &:nth-of-type(1) {
            position: absolute;
            right: 100%;
            transform: translateX(-16px);
        }

        &:nth-of-type(2) {
            transition-delay: 0.12s;
        }

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            width: 15px;
        }
    }

    &-circle {
        position: absolute;
        transition: transform 1s $middle-ease-out;
        padding: 0 12px;

        &:nth-of-type(2) {
            transform: rotate(4deg);
        }

        path {
            stroke: $brown;
        }
    }
}
