.component-footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $beige;
    color: $black;
    overflow: hidden;

    @include index-layer(content, base);

    &-overlay {
        position: relative;
        width: 100%;
        height: 0;

        @include index-layer(content, raised);

        &Wrapper {
            position: relative;
            top: 0;
            height: 10vh;
            transform: translateY(-1px);
            will-change: height;
            overflow: hidden;
        }

        &Round {
            width: 150%;
            content: "";
            display: block;
            position: absolute;
            background-color: $black;
            height: 750%;
            left: 50%;
            border-radius: 50%;
            transform: translate(-50%, -86.666%);
            z-index: 1;
        }
    }

    &-gradient {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(0deg, rgba(28, 27, 26, 0) 0%, rgba(28, 27, 26, 0.7) 100%);
        opacity: .75;
        pointer-events: none;
    }

    &-wrapper {
        width: 100%;
        padding-top: 75px;
        box-shadow: 0 5px 0 5px $black;

        @include respond-to('medium') {
            padding-top: 100px;
        }
    }

    &-top {

        @include respond-to('medium') {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &-title {
        letter-spacing: -2px;
        max-width: 50%;
        margin-bottom: 24px;

        @include respond-to('medium') {
            max-width: 345px;
        }
    }

    &-paragraph {
        max-width: 78%;
        padding-bottom: 42px;
        line-height: 1.42;

        @include respond-to('medium') {
            max-width: 405px;
        }
    }

    &-divider {
        width: 100%;
        height: 1px;
        background-color: $black;
        margin-top: 77px   ;
    }

    &-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding: 24px 0;

        @include respond-to('medium') {
            flex-direction: row;
            align-items: center;
            padding: 56px 0;
        }
    }

    &-social-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        @include respond-to('medium') {
            width: auto;
        }
    }

    &-social-link {
        text-transform: uppercase;
    }

    &-signature {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 60px;

        @include respond-to('medium') {
            margin-top: 0;
        }
    }

    &-signature-link {
        font-family: $rebond-extralight;

        @include index-layer(content, raised);
    }

    &-signature-figure {
        position: absolute;
        left: -28px;

        @include respond-to('medium') {
            left: -64px;
        }

        svg {
            width: 37px;

            @include respond-to('medium') {
                width: 82px;
            }
        }
    }
}
