.component-footer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $black;
  overflow: hidden;
  background: transparent;
  min-height: auto;

  @media screen and #{inspect(map-get($breakpoints, 'large'))} {
    min-height: 27.063rem;
  }

  &-mask {
    width: 100%;
    height: 100%;
    // background-color: $beige-light;
    background-color: $white;
    will-change: clip-path;
  }

  &-wrapper {
    width: 100%;
    padding-top: calc(var(--section-padding) * 0.18);
    padding-bottom: calc(var(--section-padding) * 0.1);

    @extend .ui-container;
  }

  &-top {
    display: flex;
    justify-content: center;
    position: relative;

    @media screen and #{inspect(map-get($breakpoints, 'large'))} {
      splay: block;
    }
  }

  &-text {
    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      padding-bottom: 2.625rem;
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      padding-bottom: 4.688rem;
    }
  }

  &-mail {
    position: relative;
    font-family: $rebond-extralight;
    margin-bottom: 0.875rem;
    display: block;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      margin-bottom: 0.5rem;
    }

    &Text {
      position: relative;
      z-index: 1;
    }

    &Spot {
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateY(-48%) translateX(-28%);
      width: 72px;
      height: 72px;
      justify-content: center;
      align-items: center;
      background-image: url("../assets/images/spot-orange.png");
      background-size: contain;
      background-repeat: no-repeat;
      display: none;

      @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        display: flex;
      }
    }
  }

  &-title {
    margin-bottom: 24px;
    font-size: clamp(4.125rem, vw(22), vw(24));
    color: $new-dark-beige;
    font-family: $vtc-carrie;
    text-transform: uppercase;
    letter-spacing: -0.825rem;
    white-space: nowrap;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      font-size: clamp(5rem, vw(18), vw(22));
      letter-spacing: -2px;
      margin-bottom: 0;
    }
  }

  &-paragraph {
    max-width: 320px;
  }

  &-bottom {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0 0 44rem;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      flex-direction: column;
      align-items: flex-end;
      padding: 1.5rem 0;
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      //   padding: 0 0 1.5rem 0;
      padding: 0;
    }
  }

  &-content {
    display: flex;
    flex-wrap: nowrap;
    font-family: $rebond-extralight;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      flex-direction: column;
    }

    &-activities {
      margin-left: vw(8);
      margin-top: unset;

      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-top: 2rem;
      }

      &-text {
        line-height: 1.25;
      }
    }
  }

  &-subtitle {
    color: $orange;
    margin-bottom: 0.875rem;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      margin-bottom: 0.563rem;
    }
  }

  &-social-item {
    display: inline-block;
    line-height: 1.25;
  }

  &-social-list {
    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      width: 100%;
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 75%;
    }
  }

  &-social-link {
    text-transform: capitalize;
    line-height: 1.25;
    display: flex;

    .line {
      overflow: hidden;
    }
  }

  &-signature {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      margin-top: 60px;
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      margin-top: 0;
    }
  }

  &-legal {
    font-family: $rebond-extralight;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.625rem;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 100%;
      font-size: 11.25px;
    }
  }

  &-signature-link {
    font-family: $rebond-extralight;

    @include index-layer(relative, content, raised);

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      font-size: inherit;
    }

    .ui-underlineLink {
      @media screen and #{inspect(map-get($breakpoints, 'small'))} {
        padding-bottom: 0;

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }

  &-signature-figure {
    position: absolute;
    left: 82px;
    bottom: -80px;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
      left: -31px;
      transform: rotate(13deg);
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      left: 18px;
      bottom: 48px;
    }

    .component-svgReveal svg {
      width: 172px;

      @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        width: 37px;
      }
    }
  }
}
