.component-navigation {
    top: 0;
    left: 0;
    width: 100%;
    max-width: unset;

    @extend .ui-container;

    @include index-layer(fixed, nav);

    &.of-dark-page .component-navigation {

        &-entryFigure path {
            stroke: $beige;
        }

        &-entry {
            color: $beige;

            path {
                stroke: $beige;
            }
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: calc(var(--section-padding) * 0.19);
        padding-bottom: calc(var(--section-padding) * 0.19);

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            padding-top: calc(var(--section-padding) * 0.22);
            padding-bottom: calc(var(--section-padding) * 0.22);
        }
    }

    &-entryFigure {
        width: 48px;

        @include respond-to('medium') {
            width: 58px;
        }

        path {

            stroke: $black;
        }
    }

    &-entries {
        display: flex;
        align-items: center;
        gap: 24px;

        @include respond-to('medium') {
            gap: 40px;
        }
    }

    &-entry {
        color: $black;
        text-transform: uppercase;

        path {
            stroke: $black;
        }
    }
}
