.component-navigation {
    top: 0;
    left: 0;
    width: 100%;

    @extend .ui-container;
    @include index-layer(fixed, nav);

    &.of-dark-page .component-navigation {

        &-entryFigure path {
            stroke: $beige;
        }

        &-entry {
            color: $beige;

            path {
                stroke: $beige;
            }
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;

        @include respond-to('large') {
            padding: 34px 0;
        }
    }

    &-entryFigure path {
        stroke: $black;
    }

    &-entries {
        display: flex;
        align-items: center;
        gap: 24px;

        @include respond-to('large') {
            gap: 40px;
        }
    }

    &-entry {
        color: $black;
        text-transform: uppercase;

        path {
            stroke: $black;
        }
    }
}
