.component-preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include index-layer(fixed, preloader);

    @extend %has-hidden-state;

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;

        &.is-blackDark {
            background-color: $black-dark;
        }
    }

    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;

        &Frame {
            position: absolute;
            width: 35%;

            @include respond-to('medium') {
                width: 12%;
            }
        }
    }

    &-name {
        position: absolute;
        display: flex;
        align-items: center;

        &Word {
            color: $beige;
            text-transform: uppercase;
        }

        &Carret {
            position: absolute;
            top: 0;
            right: -6px;
            width: 2px;
            height: 100%;
            background-color: $beige;
            animation: flash 0.75s infinite reverse;
        }

        &Figure {
            position: absolute;
            right: 0;
            width: 65%;

            svg {
                width: 100%;
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
