.component-workCard {
    display: inline-block;

    &.is-horizontal {
        //width: 35.2%;
        width: min(507px, 46.7%);

        .component-workCard-cover {
            padding-bottom: 79%;
        }
    }

    &.is-square {
        //width: 39%;
        width: min(548px, 46.7%);

        .component-workCard-cover {
            padding-bottom: 98.3%;
        }
    }

    &.is-vertical {
        //width: 39%;
        width: min(568px, 46.7%);

        .component-workCard-cover {
            padding-bottom: 125%;
        }
    }

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {

        &.is-horizontal, &.is-vertical, &.is-square {
            width: 100%;

            .component-workCard-cover {
                padding-bottom: 64%;
            }
        }
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {

        &.is-horizontal, &.is-vertical, &.is-square {

            .component-workCard-cover {
                padding-bottom: 98.2%;
            }
        }
    }

    &.is-hidden {
        pointer-events: none;
        transition-duration: 0s;
        transition-delay: 0s;

        * {
            pointer-events: none;
            transition-duration: 0s;
            transition-delay: 0s;
        }

        .component-workCard {

            &-cover {
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

                &Image {
                    transform: scale(1.2) translate3d(0, 100px, 0);
                }
            }

            &-content {
                transform: rotate(8deg);
            }

            &-name {

                &Inner {
                    transform: translate3d(0, 100%, 0) scaleY(2);
                }
            }

            &-separator {
                transform: scaleX(0);
            }

            &-excerpt, &-date {
                opacity: 0;
                transform: translate3d(0, 16px, 0);
            }
        }
    }

    &:hover {
        transition-delay: 0s!important;

        * {
            transition-delay: 0s!important;
        }

        .component-workCard {

            &-cover {

                &Image {
                    transform: scale(1.1);
                }
            }
        }
    }

    &-wrapper {
        display: inline-block;
        width: 100%;
    }

    &-cover {
        position: relative;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: width 0.7s $strong-ease-out, clip-path 1.1s cubic-bezier(0.075, 0.930, 0.055, 0.990);

        &Image {
            width: 100%;
            height: 100%;
            transition: transform 1.6s $strong-ease-out;
            will-change: transform;
        }
    }

    &-content {
        padding-top: 2.5rem;
        transform-origin: left;
        transition: transform 2s cubic-bezier(.09,.94,0,.99);

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            padding-top: 1.5rem;
        }
    }

    &-name {

        &Inner {
            transform-origin: top;
            transition: transform 1.4s $strong-ease-out;
            transition-delay: 0.4s;
        }
    }

    &-separator {
        width: 100%;
        height: 1px;
        background-color: $black;
        margin: 1.5rem 0;
        transform-origin: left;
        transition: transform 1.4s $strong-ease-out;
        transition-delay: 0.7s;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            margin: 0.888rem 0;
        }
    }

    &-details {
        display: flex;
        justify-content: space-between;
    }

    &-excerpt {
        transition: 1.7s $soft-ease-out;
        transition-property: transform, opacity;
        transition-delay: 0.8s;
    }

    &-date {
        transition: 2.2s $soft-ease-out;
        transition-property: transform, opacity;
        transition-delay: 0.8s;
    }
}
