.section-work {
    display: flex;
    justify-content: flex-start;
    padding-top: calc(var(--section-padding) * .8);
    padding-bottom: calc(var(--section-padding) * .8);

    @include index-layer(relative, content, card);

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        padding-top: calc(var(--section-padding) * .4);
        padding-bottom: calc(var(--section-padding) * .4);
    }

    // STATES
    &.is-visible .section-work {

        &__cover {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }

        &__cover-inner {
            transform: translate3d(0, 0, 0);
        }

        &__cover-overlay {
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        }
    }

    &.is-visible &__link:hover .section-work {

        &__cover {
            transform: scale(0.95);

            &-inner .component-parallax {
                transform: scale(1.1);
            }
        }
    }

    &.is-visible &__link:active .section-work {

        &__cover {
            transform: scale(0.93);

            &-inner .component-parallax {
                transform: scale(1.2);
            }
        }
    }

    // FORMATS & ALIGNMENTS
    &.is-alignCenter {
        margin-left: auto;
        margin-right: auto;
    }

    &.is-horizontal, &.is-square {
        width: 51vw;

        @media screen and #{inspect(map-get($breakpoints, 'large'))} {
            width: 64vw;
        }

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            width: 100%;
        }

        .section-work {

            &__cover {
                padding-bottom: 61%;
            }

            &__tags {
                margin: 24px 0 0 54%;

                @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                    margin: 12px 0 0 0;
                }
            }
        }
    }

    &.is-vertical {
        width: 26.6vw;

        @media screen and #{inspect(map-get($breakpoints, 'large'))} {
            width: 32vw;
        }

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            width: 100%;
        }

        .section-work {

            &__cover {
                padding-bottom: 141%;
            }

            &__scribble {
                width: 50%;
                top: 87%;
                left: -27%;

                @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                    width: 35%;
                    top: 62%;
                    right: -5%;
                    left: unset;
                }
            }

            &__text {
                min-width: 130%;
                left: 92%;

                @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                    min-width: unset;
                }
            }

            &__tags {
                margin: 24px 0 0 12%;

                @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                    margin: 12px 0 0 0;
                }
            }
        }
    }

    &.is-vertical.is-alignCenter {
        width: 30vw;
        padding-right: 1vw;

        @media screen and #{inspect(map-get($breakpoints, 'large'))} {
            width: 36vw;
            padding-right: 3vw;
        }

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            width: 100%;
            padding-right: 0;
        }
    }

    &.is-vertical.is-alignLeft {
        margin-left: 8rem;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            margin-left: 0;
        }
    }

    &.is-horizontal.is-alignLeft .section-work, &.is-square.is-alignLeft .section-work {

        &__scribble {
            width: 13%;
            top: 93%;
            left: 4%;

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                width: 11%;
                top: -10%;
                left: 3%;
            }
        }

        &__text {
            left: 97%;

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                left: unset;
            }
        }
    }

    &.is-horizontal.is-alignCenter .section-work, &.is-square.is-alignCenter .section-work {

        &__scribble {
            width: 30%;
            top: -10%;
            left: 90%;

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                width: 26%;
                top: -6%;
                left: unset;
                right: 0;
            }
        }

        &__text {
            left: -25%;
        }

        &__header {
            flex-direction: row-reverse;

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                flex-direction: row;
            }
        }

        &__index {
            margin: 4px 16px 0 0;

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                margin: 10px 0 0 12px;
            }
        }
    }

    // COLORS
    &.is-beige, .section-work {

        &__cover-overlay {
            background-color: $beige;
        }
    }

    &.is-lightblue .section-work {

        &__cover-overlay {
            background-color: $blue-light;
        }
    }

    &.is-blue, .section-work {

        &__cover-overlay {
            background-color: $blue;
        }
    }

    &.is-green, .section-work {

        &__cover-overlay {
            background-color: $green;
        }
    }

    &.is-pink, .section-work {

        &__cover-overlay {
            background-color: $pink;
        }
    }

    &.is-orange, .section-work {

        &__cover-overlay {
            background-color: $orange;
        }
    }

    &__container {
        width: 100%;
        position: relative;
    }

    &__link {
        width: 100%;
        display: flex;
        align-items: center;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            flex-direction: column;
        }
    }

    &__cover {
        position: relative;
        width: 100%;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: clip-path 0.7s $strong-ease-out, transform 0.9s $strong-ease-out;

        @extend %cover-media-container;
    }

    &__cover-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: translate3d(-40px, 0, 0);
        transition: transform 1.8s $strong-ease-out 0.4s;

        .component-parallax {
            transition: transform 0.9s $strong-ease-out;
        }
    }

    &__cover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        transition: clip-path 1.4s $strong-ease-out 0.4s;
    }

    &__text {

        @include index-layer(absolute, content, card, raised);

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            position: unset;
            width: 100%;
            margin-top: 16px;
        }
    }

    &__header {
        position: relative;
        max-width: 32vw;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            max-width: unset;
        }
    }

    &__name {
        display: inline;
        color: $beige;
        text-transform: lowercase;
    }

    &__index {
        position: absolute;
        font-family: $rebond-extralight;
        color: $beige;
        margin: 10px 0 0 10px;
        overflow: hidden;
    }

    &__tags {
        display: flex;
        flex-direction: column;
        gap: 4px;
        margin: 24px 0 0 40%;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            flex-direction: row;
            gap: 16px;
        }
    }

    &__tag-item {
        font-family: $neue-regular;
        color: $beige;
        text-transform: uppercase;
        overflow: hidden;
    }

    &__scribble {
        position: absolute;

        svg path {
            stroke-width: 3px;

            @include respond-to('medium') {
                stroke-width: 4px;
            }
        }
    }
}
