.section-work {
    padding: 40px 0;

    @include index-layer(content, card);

    @include respond-to('large') {
        padding: 116px 0;
    }

    &.is-visible &__link:hover .section-work {

        &__cover {
            transform: scale(0.95);

            &-inner .component-parallax {
                transform: scale(1.1);
            }
        }
    }
    &.is-visible &__link:active .section-work {

        &__cover {
            transform: scale(0.93);

            &-inner .component-parallax {
                transform: scale(1.2);
            }
        }
    }

    &:nth-of-type(3n+1) .section-work {

        &__cover {
            height: 0;
            padding-bottom: 61%;

            @include respond-to('large') {
                width: 735px;
                height: 450px;
                padding-bottom: 0;
            }
        }

        &__scribble {
            width: 11%;
            top: -10%;
            left: 3%;

            @include respond-to('large') {
                top: 93%;
                left: 4%;
            }
        }

        &__text {

            @include respond-to('large') {
                left: 97%;
            }
        }
    }

    &:nth-of-type(3n+2) .section-work {

        &__container {
            justify-content: center;

            @include respond-to('large') {
                margin-right: 140px;
            }
        }

        &__cover {
            height: 0;
            padding-bottom: 61%;

            @include respond-to('large') {
                width: 720px;
                height: 440px;
                padding-bottom: 0;
            }
        }

        &__scribble {
            width: 26%;
            top: -10%;
            right: 0;

            @include respond-to('large') {
                top: -10%;
                left: 90%;
            }
        }

        &__text {

            @include respond-to('large') {
                right: 98%;
            }
        }

        &__header {

            @include respond-to('large') {
                flex-direction: row-reverse;
            }
        }

        &__index {

            @include respond-to('large') {
                margin: 4px 16px 0 0;
            }
        }
    }

    &:nth-of-type(3n+3) .section-work {

        &__container {
            justify-content: center;
        }

        &__text {

            @include respond-to('large') {
                width: 480px;
                left: 97%;
            }
        }

        &__cover {
            width: 67%;
            height: 0;
            padding-bottom: 95%;
            margin-left: 12%;

            @include respond-to('large') {
                width: 382px;
                height: 540px;
                padding-bottom: 0;
                margin-left: 0;
            }
        }

        &__scribble {
            width: 35%;
            top: 53%;
            right: -3%;

            @include respond-to('large') {
                right: 76%;
                top: unset;
                bottom: 6%;
            }
        }
    }

    &.is-beige, .section-work {

        &__cover-overlay {
            background-color: $beige;
        }
    }

    &.is-lightblue .section-work {

        &__cover-overlay {
            background-color: $blue-light;
        }
    }

    &.is-blue, .section-work {

        &__cover-overlay {
            background-color: $blue;
        }
    }

    &.is-green, .section-work {

        &__cover-overlay {
            background-color: $green;
        }
    }

    &.is-pink, .section-work {

        &__cover-overlay {
            background-color: $pink;
        }
    }

    &.is-orange, .section-work {

        &__cover-overlay {
            background-color: $orange;
        }
    }

    &.is-visible .section-work {

        &__cover {
            clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        }

        &__cover-inner {
            transform: translate3d(0, 0, 0);
        }

        &__cover-overlay {
            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        }
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;

        @include respond-to('large') {
            flex-direction: row;
        }
    }

    &__link {
        position: relative;

        @include respond-to('large') {
            display: flex;
            align-items: center;
        }
    }

    &__cover {
        position: relative;
        width: 100%;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: clip-path 0.7s $strong-ease-out, transform 0.9s $strong-ease-out;

        @extend %cover-media-container;
    }

    &__cover-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform: translate3d(-40px, 0, 0);
        transition: transform 1.8s $strong-ease-out 0.4s;

        .component-parallax {
            transition: transform 0.9s $strong-ease-out;
        }
    }

    &__cover-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
        transition: clip-path 1.4s $strong-ease-out 0.4s;
    }

    &__text {
        margin-top: 16px;

        @include index-layer(content, card, raised);

        @include respond-to('large') {
            position: absolute;
            margin-top: 0;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
    }

    &__name {
        color: $beige;
        text-transform: lowercase;
    }

    &__index {
        font-family: $rebond-extralight;
        color: $beige;
        margin: 16px 0 0 12px;

        @include respond-to('large') {

        }
    }

    &__tags {
        display: flex;
        gap: 16px;
        margin-top: 12px;

        @include respond-to('large') {
            flex-direction: column;
            gap: 4px;
            margin: 32px 0 0 122px;
        }
    }

    &__tag-item {
        font-family: $neue-regular;
        color: $beige;
        text-transform: uppercase;
    }

    &__scribble {
        position: absolute;

        svg path {
            stroke-width: 4px;

            @include respond-to('large') {
                stroke-width: 3px;
            }
        }
    }
}
