.section-bigSmallImages {
  display: flex;
  justify-content: space-between;
  margin: vw(9.75) 0 vw(9.75) 0;

  @media screen and #{inspect(map-get($breakpoints, 'small'))} {
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &--is-bottom {
    align-items: flex-end;
  }

  &-big-image {
    width: clamp(24rem, vw(40), 48rem);
  }
  &-small-image {
    width: clamp(24rem, vw(40), 40rem);
  }

  .component-parallax-container {
    height: auto;
  }
}
