.section-dualImages {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: vw(12) 0;

  @media screen and #{inspect(map-get($breakpoints, 'small'))} {
    margin: 1rem 0;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: column;
  }

  &-first-image,
  &-second-image {
    width: 44%;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 100%;
    }
  }
}
