.section-homeHeader {
    position: relative;
    width: 100%;
    height: calc(#{vh(100)} + #{vw(2.8)});
    min-height: -webkit-fill-available;

    @include index-layer(relative, content, base);

    &-canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -ms-touch-action: pan-y;
        touch-action: pan-y;

        > canvas {
            display: none;

            &:last-of-type {
                display: block;
            }
        }
    }

    &-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &-content {
        display: flex;
        align-items: flex-start;
        gap: 1.875rem;

        @include index-layer(relative, content, raised);

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }

    &-title {
        display: flex;
        align-items: flex-start;
        color: $brown-light;

        &Char {
            max-width: vw(11.11);
            margin-left: vw(-1);

            &:nth-of-type(3) {
                margin-left: vw(-2.4);
            }
        }

        &Shape {
            max-width: vw(22.22);
            width: clamp(5.2rem, vw(15.2), vw(22.22));
            margin-left: vw(-2.5);
            transform: translateY(-6px);

            @media screen and #{inspect(map-get($breakpoints, 'large'))} {
                transform: translateY(-4px);
            }

            @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
                transform: translateY(1px);
            }

            svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &-baseline {
        font-size: clamp(0.875rem, vw(1.1), 1rem);
        line-height: 1.375rem;
        text-transform: uppercase;
        color: $brown-light;
        margin-top: 4px;
        opacity: 0.6;

        @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
            line-height: 1rem;
        }
    }
}
