.section-horizontalTextImage {
    padding-top: calc(var(--section-padding) * 0.7);
    padding-bottom: calc(var(--section-padding) * .7);

    @media screen and #{inspect(map-get($breakpoints, 'large'))} {
        padding-top: calc(var(--section-padding) * .54);
        padding-bottom: calc(var(--section-padding) * .84);
    }

    &.is-reverse .section-horizontalTextImage {

        &-container {
            flex-direction: row-reverse;

            @media screen and #{inspect(map-get($breakpoints, 'large'))} {
                flex-direction: column;
            }
        }
    }

    &-container {
        display: flex;
        justify-content: space-between;
        gap: vw(10);

        @media screen and #{inspect(map-get($breakpoints, 'large'))} {
            flex-direction: column;
        }
    }

    &-text {
        width: 100%;
        max-width: 410px;

        @media screen and #{inspect(map-get($breakpoints, 'large'))} {
            max-width: 100%;
        }
    }

    &-title {
        margin-bottom: 1rem;
    }

    &-wysiwyg {
        font-size: 1rem;
        line-height: 1.63;

        .line {
            overflow: visible;
        }
    }

    &-imageContainer {
        width: 100%;
    }

    &-image {
        position: relative;
        width: 100%;
        max-width: 652px;
        height: 0;
        padding-bottom: 61.2%;

        .component-parallax {
            height: unset;
        }
    }
}
