.section-midImage {
  margin: vw(12) 0;

  @media screen and #{inspect(map-get($breakpoints, 'small'))} {
    margin: 1rem 0;
  }

  &--reverse {
    display: flex;
    justify-content: flex-end;
  }

  &-image {
    width: vw(75);

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      width: 100%;
    }
  }
}
