.section-projectHeader {
  position: relative;

  &.is-vertical .section-projectHeader {
    &-bottom {
      width: 100%;
      max-width: 628px;
    }

    &-cover {
      padding-bottom: 121%;
    }
  }

  &.is-horizontal .section-projectHeader,
  &.is-square .section-projectHeader {
    &-text {
      width: 100%;
      max-width: 1240px;
    }

    &-bottom {
      width: 100%;
    }

    &-cover {
      padding-bottom: 58%;
    }
  }

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: vh(18);
    gap: 32px;

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {
      gap: 16px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include index-layer(relative, content, raised);
  }

  &-year {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }

  &-bottom {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-cover {
    position: relative;
    width: 100%;
    height: 0;

    .component-parallax {
      height: unset;
    }
  }

  &-details {
    display: flex;
    gap: 3.125rem;
    margin-left: auto;
    margin-right: 3rem;
  }

  &-description {
    display: flex;
    gap: 2.5rem;

    &Item {
      max-width: 324px;
      font-size: calc(clamp(5.5em, vw(7), 8em) * 0.159);
      line-height: 1.25;
    }
  }

  &-tags {
    display: flex;
    flex-direction: column;
    margin-right: vw(7);

    @media screen and #{inspect(map-get($breakpoints, 'large'))} {
      padding: 1.5rem 0 0 0;
      top: 100%;
    }

    &Item {
      text-transform: capitalize;
    }
  }
}
