mixin circled-button(url, text, rel)
    a.component-circledButton(href=url)&attributes(ext, rel)
        .component-circledButton-content
            span(data-component='Paragraph' data-option-delay='0.3').component-circledButton-parenthesis.component-circledButton-parenthesis--left="("
            div.component-circledButton-whitespace.component-circledButton-whitespace--first(data-component='Image' data-option-delay='0.35' data-option-opacity)
                svg.component-circledButton-arrow(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.1604 1.00195C8.1604 4.61926 14.366 8.18875 16.9557 8.18875' stroke='#1C1B1A' stroke-width='1.5')
                    path(d='M8.1604 15.3755C8.1604 11.7582 14.366 8.18869 16.9557 8.18869' stroke='#1C1B1A' stroke-width='1.5')
                    path(d='M16.6869 8.18848L0.474121 8.18848' stroke='#1C1B1A' stroke-width='1.5')
            span(data-component='Paragraph' data-option-delay='0.35').component-circledButton-text=text
            div.component-circledButton-whitespace.component-circledButton-whitespace--second
                svg.component-circledButton-arrow(width='18' height='16' viewbox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M8.1604 1.00195C8.1604 4.61926 14.366 8.18875 16.9557 8.18875' stroke='#1C1B1A' stroke-width='1.5')
                    path(d='M8.1604 15.3755C8.1604 11.7582 14.366 8.18869 16.9557 8.18869' stroke='#1C1B1A' stroke-width='1.5')
                    path(d='M16.6869 8.18848L0.474121 8.18848' stroke='#1C1B1A' stroke-width='1.5')
            span(data-component='Paragraph' data-option-delay='0.4').component-circledButton-parenthesis.component-circledButton-parenthesis--right=")"

