mixin parallax(src, alt, percent, reverse)
    .component-parallax(data-component='Parallax' data-option-percent=percent data-option-reverse=reverse)
        img.component-parallax-image(data-ref='image' data-src=src alt=alt)
