mixin parallax(src, width, height, alt, percent, reverse)
    div(data-component='Parallax' data-option-percent=percent data-option-reverse=reverse)
        figure.component-parallax-container(data-ref='container')
            +image(src, width, height, alt)(class='component-parallax-image' data-ref='image')
