extends ../base.pug

block variables
    - var pageName = 'home'
    - var pageComponent = 'Home'
    - var pageShade = 'dark'

block page
    section.ui-container.page-home-works
        each work, index in homePage.works
            include ../components/work

    section.page-home-projectsButton
        +circled-button('/projects', 'Tous les projets')

    include ../components/footer
