extends ../base.pug

block variables
    - var pageName = 'home'
    - var pageComponent = 'Home'
    - var pageShade = 'dark'

block page
    h1.ui-h1 Home

    each work, index in homePage.works
        include ../components/work

    section.page-home-projectsButton
        +circled-button('/projects', 'Tous les projets')

    include ../components/footer
