extends ../base.pug

include ../mixins/sections/horizontal-text-image
include ../mixins/sections/slider
include ../mixins/sections/project-header
include ../mixins/sections/next-project
include ../mixins/sections/vertical-text-image

block variables
    - var pageName = 'project'
    - var pageComponent = 'Project'
    - var pageShade = 'light'

block page

    +project-header(name, getYear(date), coverImage.fields.file, tags, getFormat(format))

    .page-project-divider(data-component='Divider' data-option-direction='vertical')

    +vertical-text-image(verticalTextImageTitle, verticalTextImageImage.fields)

    +horizontal-text-image(horizontalTextImageTitle, getWysiwyg(horizontalTextImageText), horizontalTextImageImage.fields.file, false)

    section.page-project-sliderSection
        svg.page-project-sliderSection-figure(viewbox='0 0 959 1273' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(opacity='0.11' d='M747.75 10.9082C138.22 -29.2331 -11.1106 213.329 82.6034 310.342C282.752 517.536 841.591 419.912 862.136 285.993C882.682 152.074 529.299 127.725 282.752 310.342C36.2057 492.958 53.2654 692.531 225.16 787.091C380.078 872.312 961.132 823.614 952.914 657.23C944.696 490.846 610.652 531.258 401.693 613.093C251.812 671.792 76.4764 792.522 -149.524 845.278C-375.525 898.034 -689 846.335 -689 713.093C-689 579.852 -377.963 578.835 -171.479 646.807C35.0048 714.78 194.342 798.675 97.2217 1083.23C64.798 1167.95 -19.3231 1246.28 -108.35 1265.47' stroke='#DACAB5' stroke-width='12' stroke-linecap='square')
        +slider(infiniteSliderImages, 'true')

    +horizontal-text-image(horizontalTextImageReverseTitle, getWysiwyg(horizontalTextImageReverseText), horizontalTextImageReverseImage.fields.file, true)

    +next-project('projet', 'suivant', nextWork)
