extends ../base.pug

block variables
    - var metaPageName = projectsPage.pageName
    - var pageName = 'projects'
    - var pageComponent = 'Projects'
    - var pageShade = 'light'

block page

    header.ui-container-large.page-projects-header
        h1.ui-h3.page-projects-title(data-component='Title')!=projectsPage.title
        p.ui-p-m.page-projects-amount(data-component='Paragraph' data-option-delay='0.5' data-option-opacity='true')!=`(${projectsPage.works.length})`
        .page-projects-figure
            +svg-reveal(1.8, false)
                svg(data-ref='svg' width='191' height='92' viewbox='0 0 191 92' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M2.16972 83.3547C2.16976 86.2147 1.31959 88.3593 3.42447 89.7656C6.21815 91.632 12.3551 88.4653 18.5761 79.356C24.797 70.2468 45.6938 25.2619 48.1696 18.1519C51.2577 9.28376 52.1055 3.2336 50.1376 2.28136C48.1696 1.32913 45.8037 2.45483 41.8049 10.9927C37.8062 19.5305 33.6837 41.6957 33.3552 54.5053C33.0268 67.3149 32.9927 78.4781 40.5812 79.356C48.1696 80.234 54.7046 68.1908 56.2374 64.7968C57.7701 61.4028 70.1418 27.1343 69.047 24.0688C67.9521 21.0032 64.2297 26.3679 62.04 29.9809C59.8503 33.5939 47.0407 60.7459 52.4054 74.6503C57.7701 88.5547 68.609 73.1175 70.3608 70.7089C72.1125 68.3002 81.4186 49.1406 83.2799 44.1043C85.1411 39.068 86.5644 33.1559 84.9221 32.718C83.2799 32.2801 80.8028 41.5862 80.1459 44.1043C79.489 46.6224 76.6424 61.2933 78.3941 69.1761C80.1459 77.0589 82.3507 79.5089 84.9221 74.6503C88.7954 67.3318 94.0777 51.7682 94.9536 48.7026C95.8295 45.6371 97.1843 40.2724 96.5274 38.9586C95.8705 37.6448 94.0093 37.4258 92.9144 39.8344C91.8196 42.2431 89.9584 55.1622 92.9144 63.8114C95.8705 72.4606 97.9507 75.9641 103.315 75.9641C108.68 75.9641 112.622 66.3295 113.607 58.4467C114.592 50.5638 113.935 45.9655 111.746 47.0604C109.556 48.1552 110.541 65.3442 113.607 63.8114C116.672 62.2786 119.3 47.1698 119.519 45.6371C119.738 44.1043 120.504 43.5569 120.942 44.9802C121.38 46.4035 121.161 57.8993 125.65 56.257C130.139 54.6147 135.285 48.3742 135.394 44.1043C135.504 39.8344 135.251 38.3116 134.476 35.8475C133.829 33.7875 131.875 30.6684 130.342 31.7633C128.809 32.8581 127.758 42.3796 131.637 45.6371C136.468 49.694 139.208 42.8206 140.171 40.1734C141.008 37.8728 141.911 32.6797 140.54 32.9263C139.169 33.173 138.918 36.5778 139.729 39.0352C140.54 41.4926 145.531 52.9606 163.416 54.4624C177.724 55.6638 185.988 46.18 188.331 41.2878' stroke='#FF6C3C' stroke-width='2.7' stroke-linecap='square')
    section.ui-container-large.page-projects-grid
        each row in getWorksRows(projectsPage.works)
            .page-projects-gridRow
                 each work, index in row
                     +work-card(work.fields.format, work.fields.name, work.fields.clientName, getYear(work.fields.date), getLinkUrl(work), work.fields.coverImage)

    include ../components/footer
