extends ../base.pug

block variables
    - var pageName = 'ui'
    - var pageComponent = 'Ui'

block page
    h1.ui-h1 UI Kit

    section.page-ui-section
        h2.page-ui-sectionTitle Colors
        .page-ui-colors
            .page-ui-colorsItem.is-black(data-ref="cursorLink[]")
            .page-ui-colorsItem.is-dark-black(data-ref="cursorLink[]" data-cursor-sticky data-cursor-sticky-side="right")
            .page-ui-colorsItem.is-grey
            .page-ui-colorsItem.is-white
            .page-ui-colorsItem.is-brown
            .page-ui-colorsItem.is-beige
            .page-ui-colorsItem.is-beige-light
            .page-ui-colorsItem.is-blue
            .page-ui-colorsItem.is-blue-light
            .page-ui-colorsItem.is-green
            .page-ui-colorsItem.is-pink
            .page-ui-colorsItem.is-orange


    section.page-ui-section
        h2.page-ui-sectionTitle Texts
        h1.ui-h1 Heading 1
        h1.ui-h2 Heading 2
        h3.ui-h3 Heading 3
        h4.ui-h4 Heading 4
        h5.ui-h5 Heading 5
        h6.ui-h6 Heading 6
        h6.ui-h7 Heading 7
        h6.ui-h8 Heading 8
        h6.ui-h9 Heading 9
        p.ui-p-l Paragraph L
        p.ui-p-l Paragraph L
        p.ui-p-m Paragraph M
        p.ui-p-s Paragraph S
        p.ui-p-xs Paragraph XS

    section.page-ui-section
        h2.page-ui-sectionTitle Cards
        .page-ui-cards
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.12)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.24)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.12)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.24)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.12)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0.24)
            +work-card('Work Card', 'Work excerpt description', '2022', '#', 'https://source.unsplash.com/random/', 'work cover image', 0)

    section.page-ui-section
        h2.page-ui-sectionTitle Cursor
        .page-ui-cursor
            .page-ui-cursorLink(data-ref="cursorLink[]" data-cursor-sticky data-cursor-color="brown")
            .page-ui-cursorLink(data-ref="cursorLink[]" data-cursor-color="white")
            .page-ui-cursorSlider(data-ref="cursorSlider[]")

    section.page-ui-section
        h2.page-ui-sectionTitle Links
        .page-ui-textLinks
            +scribble-link('/projects', 'Scribble Link')(class='ui-p-m')
            a(href="#").ui-p-m.ui-spotLink Spot Link
            a(href="#").ui-p-m.ui-underlineLink Underline Link
            a(href="#" data-ref="cursorLink[]" data-cursor-sticky data-cursor-sticky-side="right").ui-p-m.ui-cursorTextLink Cursor Sticky Link Right
            +circled-button('#', 'Circled Button')
