extends ../base.pug

block variables
    - var page = 'ui'

block page
    h1 UI Kit

    section.page-ui-section
        h2.page-ui-section-title Colors
        .page-ui-colors
            .page-ui-colors-item.is-black
            .page-ui-colors-item.is-dark-black
            .page-ui-colors-item.is-grey
            .page-ui-colors-item.is-white
            .page-ui-colors-item.is-brown
            .page-ui-colors-item.is-beige
            .page-ui-colors-item.is-beige-light
            .page-ui-colors-item.is-blue
            .page-ui-colors-item.is-blue-light
            .page-ui-colors-item.is-green
            .page-ui-colors-item.is-pink
            .page-ui-colors-item.is-orange


    section.page-ui-section
        h2.page-ui-section-title Texts
        h1.ui-h1 Heading 1
        h1.ui-h2 Heading 2
        h1.ui-h3 Heading 3
        h1.ui-h4 Heading 4
        h1.ui-h5 Heading 5
        h1.ui-h6 Heading 6
        h1.ui-h7 Heading 7
        h1.ui-h8 Heading 8
        h1.ui-h9 Heading 9
        h1.ui-p-l Paragraph L
        h1.ui-p-m Paragraph M
        h1.ui-p-s Paragraph S
        h1.ui-p-xs Paragraph XS

