// Core
@import "core/reset";
@import "core/functions";
@import "core/mixins";
@import "core/extends";

// Config
@import "config/variables";
@import "config/fonts";
@import "config/common";
@import "config/ui";

// Pages
@import "pages/about";
@import "pages/ui";
@import "pages/home";
@import "pages/projects";
@import "pages/project";

// Components
@import "components/circledButton";
@import "components/contactMe";
@import "components/cursor";
@import "components/footer";
@import "components/navigation";
@import "components/preloader";
@import "components/scribbleLink";
@import "components/svgReveal";
@import "components/parallax";
@import "components/workCard";
@import "components/work";

// Sections
@import "components/sections/horizontalTextImage";
@import "components/sections/slider";
@import "components/sections/homeHeader";
@import "components/sections/projectHeader";
@import "components/sections/nextProject";
@import "components/sections/verticalTextImage";
@import "components/sections/fullViewImage";
@import "components/sections/titleParagraph";
