html {
    --vw: 1vw;
    --vh: 1vh;
    position: relative;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
    height: 100%;
    overflow: auto;
    pointer-events: auto;
    -webkit-overflow-scrolling: touch;
}

.app {
    width: vw(100);
    min-height: vh(100);

    background-color: $beige;

    font-family: $neue-montreal-regular;
    font-size: 16px;
    line-height: 1;
    color: $black;

    overflow: hidden;
}

.page {
    @extend .ui-container;

    width: 100%;
    height: 100%;
    opacity: 0;

    @include index-layer(relative, content);
}
