/*
100 thin
200 extralight
300 light
400 normal
500 medium
600 semibold
700 bold
800 extrabold
900 black
*/

@font-face {
    font-family: $neue-montreal-regular;
    src: url('../assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Regular.woff') format('woff'),
    url('../assets/fonts/PPNeueMontreal-Regular.ttf') format('tff'),
    url('../assets/fonts/PPNeueMontreal-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $neue-montreal-thin;
    src: url('../assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Thin.woff') format('woff'),
    url('../assets/fonts/PPNeueMontreal-Thin.ttf') format('tff'),
    url('../assets/fonts/PPNeueMontreal-Thin.otf') format('otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $rebond-grotesque-extralight;
    src: url('../assets/fonts/RebondGrotesque-Extralight.woff2') format('woff2'),
    url('../assets/fonts/RebondGrotesque-Extralight.woff') format('woff'),
    url('../assets/fonts/RebondGrotesque-Extralight.ttf') format('tff'),
    url('../assets/fonts/RebondGrotesque-Extralight.otf') format('otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
