/*
100 thin
200 extralight
300 light
400 normal
500 medium
600 semibold
700 bold
800 extrabold
900 black
*/

@font-face {
    font-family: $neue-montreal-regular;
    src: url('../assets/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Regular.woff') format('woff'),
    url('../assets/fonts/PPNeueMontreal-Regular.ttf') format('tff'),
    url('../assets/fonts/PPNeueMontreal-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $neue-montreal-thin;
    src: url('../assets/fonts/PPNeueMontreal-Thin.woff2') format('woff2'),
    url('../assets/fonts/PPNeueMontreal-Thin.woff') format('woff'),
    url('../assets/fonts/PPNeueMontreal-Thin.ttf') format('tff'),
    url('../assets/fonts/PPNeueMontreal-Thin.otf') format('otf');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@import url("https://p.typekit.net/p.css?s=1&k=pey0bud&ht=tk&f=45402.45403.45404.45405.45406.45407.45410.45411&a=55544603&app=typekit&e=css");

@font-face {
    font-family: $ivy-presto-regular-italic;
    src: url("https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),
    url("https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),
    url("https://use.typekit.net/af/4f9700/00000000000000007735e5a7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: $ivy-presto-thin-italic;
    src: url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/l?subset_id=2&fvd=i1&v=3") format("woff2"),
    url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/d?subset_id=2&fvd=i1&v=3") format("woff"),
    url("https://use.typekit.net/af/6a6cae/00000000000000007735e5b2/30/a?subset_id=2&fvd=i1&v=3") format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
}
