.ui-container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 1600px;

    &-large {
        padding-left: calc(var(--container-padding) * 2);
        padding-right: calc(var(--container-padding) * 2);
    }

    @media screen and #{inspect(map-get($breakpoints, 'small'))} {

        &, &-large {
            padding-left: var(--container-padding);
            padding-right: var(--container-padding);
        }
    }
}

.ui-h1 {
    font-family: $rebond-extralight;
    font-size: font-size(67px, 163px);
    line-height: 1.14;

    @include respond-to('medium') {
        font-size: font-size(67px, 163px, 'desktop');
        line-height: 1.14;
    }
}

.ui-h2 {
    font-family: $rebond-extralight;
    font-size: font-size(56px, 140px);
    line-height: 0.9;

    @include respond-to('medium') {
        font-size: font-size(56px, 140px, 'desktop');
        line-height: 0.8;
    }
}

.ui-h3 {
    font-family: $rebond-extralight;
    font-size: font-size(48px, 80px);
    line-height: 0.93;

    @include respond-to('medium') {
        font-size: font-size(48px, 80px, 'desktop');
        line-height: 0.93;
    }
}

.ui-h4 {
    font-family: $rebond-extralight;
    font-size: clamp(3rem, 4.44vw, 5rem);
    line-height: 0.92;
}

.ui-h5 {
    font-family: $rebond-extralight;
    font-size: calc(clamp(3.25em, 7vw, 8em) * .83);
    line-height: 0.937;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        font-size: calc(clamp(3.25em, 7vw, 8em) * .92);
    }
}

.ui-h6 {
    font-family: $rebond-extralight;
    font-size: font-size(40px, 64px);
    line-height: 1;

    @include respond-to('medium') {
        font-size: font-size(40px, 64px, 'desktop');
        line-height: 0.95;
    }
}

.ui-h7 {
    font-family: $rebond-extralight;
    font-size: font-size(22px, 40px);
    line-height: 1.05;

    @include respond-to('medium') {
        font-size: font-size(22px, 40px, 'desktop');
        line-height: 0.95;
    }
}

.ui-h8 {
    font-family: $rebond-extralight;
    font-size: clamp(1.1rem, 8vw, 2rem);
    line-height: 1;
}

.ui-h9 {
    font-family: $rebond-extralight;
    font-size: clamp(1.5rem, 7vw, 2rem);
    line-height: 1;
}

.ui-p-xl {
    font-size: clamp(1rem, 1.7vw, 1.125rem);
    line-height: 1;
}

.ui-p-l {
    font-size: clamp(1rem, 1.7vw, 1.125rem);
    line-height: 1.42;
}

.ui-p-m {
    font-size: calc(clamp(5.5em, 7vw, 8em) * .159);
    line-height: 1.67;

    @media screen and #{inspect(map-get($breakpoints, 'medium'))} {
        font-size: calc(clamp(6.3em, 7vw, 8em) * .159);
    }
}

.ui-p-s {
    font-size: 0.75rem;
    line-height: 1.4;
}

.ui-p-xs {
    font-size: 12px;
    line-height: 1.22;
}

.ui-p-xxs {
    font-size: 12px;
    line-height: 1.43;
}

.ui-spotLink {
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    white-space: pre;
    cursor: pointer;

    @include index-layer(relative, content, base);

    &:hover::before {
        transform: scale(1);
    }

    &::before {
        content: '';
        position: absolute;
        width: 96px;
        height: 96px;
        background: url('../assets/images/spot-brown.png') no-repeat;
        background-size: contain;
        transform: scale(0);
        transition: transform 0.65s cubic-bezier(0.34, 1.56, 0.64, 1);
        z-index: -1;
    }

    &-text {
        margin-top: 3px;
        line-height: 1;
    }

    &-icon {
        transform: rotate(-45deg);
    }
}

.ui-underlineLink {
    position: relative;
    white-space: pre;
    cursor: pointer;

    &:hover {

        &::before {
            transform: scaleX(1);
        }

        &::after {
            transform: scaleX(0);
        }
    }

    &::before, &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        transition: .8s;
        transition-timing-function: cubic-bezier(0,.89,.41,1);
    }

    &::before {
        left: 0;
        transform-origin: left;
        transform: scaleX(0);
        transition-delay: .2s;
    }

    &::after {
        right: 0;
        transform-origin: right;
    }
}

.ui-cursorTextLink {
    cursor: pointer;

    @include index-layer(relative, content, base);
}

.ui-wordMask {
    position: relative;
    overflow: hidden;

    > span {
        display: block;
    }

    > span:nth-child(2) {
        position: absolute;
        top: 100%;
        left: 0;
    }
}
