// Colors
$black: #1C1B1A;
$black-dark: #141313;
$grey: #ABB0B4;
$white: #FFFFFF;
$brown: #686158;
$brown-light: #DACAB5;
$beige: #F5EDE2;
$beige-light: #F9F4ED;
$blue: #4185F4;
$blue-light: #CCDCF7;
$green: #E6FFF5;
$pink: #F5DADA;
$orange: #FF6C3C;

// Eases
$strong-ease-out: cubic-bezier(0.060, 0.645, 0.000, 0.985);
$middle-ease-out: cubic-bezier(.11,.9,.09,1);
$soft-ease-out: cubic-bezier(.13, .85, .33, .99);
$soft-ease-in-out: cubic-bezier(.18, .64, .21, .97);

// Fonts
$neue-montreal-regular: 'PPNeueMontreal Regular';
$neue-montreal-thin: 'PPNeueMontreal Thin';
$rebond-grotesque-extralight: 'RebondGrotesque Extralight';

// Viewport widths based on design
$viewports: (
    'mobile': 390px,
    'desktop': 1440px,
);

// Breakpoints
$breakpoints: (
    'medium': (min-width: 768px),
    'large': (min-width: 1280px),
);

// Layers
$layers: (
    content: (
        base: (),
        card: (
                base,
                raised,
        ),
        raised: (),
    ),
    nav: (
        base,
        raised,
    ),
    tempCover: (),
    loader: (),
    cursor: (),
);
